@import 'core/variables';

header {
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}

.header__img {
    object-fit: cover;
    width: 80px;
    border-radius: 0.5em;
}