* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

.card {
  height: 100vh;
  align-items: center;
  background: linear-gradient(#bfcdd0, #dde9ed);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__container {
  background-color: #fff;
  border-bottom: 40px;
  width: 240px;
  padding-bottom: 10px;
}
.card__container--name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 21px;
}
.card__container--name,
.card__container--paragraph {
  font-family: Montserrat, sans-serif;
  margin-bottom: 10px;
  padding-left: 20px;
}
.card__container--paragraph {
  font-size: 16px;
}
.card__container--verticalBorder {
  border-left: 5px solid;
}
.image {
  height: 200px;
  object-fit: cover;
  width: 240px;
}
.card__container--list {
  display: flex;
  gap: 20px;
  padding: 10px 0 0 20px;
}
.card__containerIcon {
  border: 2px solid;
  border-radius: 50%;
  height: 32px;
  text-align: center;
  width: 32px;
}
.card__rrss {
  font-size: 20px;
  margin-top: 4px;
}

.palette1 .card__container--name {
  color: #114e4e;
}
.palette1 .card__container--verticalBorder {
  border-color: #438792;
}
.palette1 .card__containerIcon,
.palette1 .card__rrss {
  border-color: #a2deaf;
  color: #114e4e;
}
.palette2 .card__container--name {
  color: #420101;
}
.palette2 .card__container--verticalBorder {
  border-color: #bd1010;
}
.palette2 .card__containerIcon,
.palette2 .card__rrss {
  border-color: #e95626;
  color: #420101;
}
.palette3 .card__container--name {
  color: #3e5b65;
}
.palette3 .card__container--verticalBorder {
  border-color: #eab052;
}
.palette3 .card__containerIcon,
.palette3 .card__rrss {
  border-color: #a0c0cf;
  color: #3e5b65;
}
