// VARIABLES

$merriwheather: 'Merriweather', serif;
$montserrat: 'Montserrat', sans-serif;
$montserrat-bold: 'Montserrat', sans-serif;
$open: 'Open Sans', sans-serif;

$brownish-grey: #6b6b6b;
$dark-green-blue: #114e4e;
$gunmetal: #54585a;
$white-four: #f5f5f5;
$white-six: #ffffff;
$dirty-blue: #438792;
$dull-orange: #e17334;
$milton-glassy: #54585a36;
$silver: #bfcdd0;
$hospital-green: #a2deaf;
$white-two: #d8d8d8;
$tomato: #e95626;
$dried-blood: #420101;
$rusty-red: #bd1010;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$azure: #00a0f5;
$pale-grey: #dde9ed;
$size-big: 1.2rem;
/*19.2px*/
$size-details: 1.125rem;
/*18px*/
$size-med: 0.875rem;
/*14px*/
$size-small: 0.8rem;
/*12.8px*/
$size-button: 1rem;
/*16px*/
$size-link-final: 0.75rem;
/*12px*/
